[project]
	description = "History.js gracefully supports the HTML5 History/State APIs (pushState, replaceState, onPopState) in all browsers. Including continued support for data, titles, replaceState. Supports jQuery, MooTools and Prototype.  For HTML5 browsers this means that you can modify the URL directly, without needing to use hashes anymore. For HTML4 browsers it will revert back to using the old onhashchange functionality."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dragan Glumac (draganglumac)
[access "refs/for/refs/*"]
	read = group user/Dragan Glumac (draganglumac)
	push = group user/Dragan Glumac (draganglumac)
	label-Code-Review = -2..+2 group user/Dragan Glumac (draganglumac)
	label-Verified = -1..+1 group user/Dragan Glumac (draganglumac)
	rebase = group user/Dragan Glumac (draganglumac)
	removeReviewer = group user/Dragan Glumac (draganglumac)
	submit = group user/Dragan Glumac (draganglumac)
[access "refs/heads/*"]
	read = group user/Dragan Glumac (draganglumac)
	create = group user/Dragan Glumac (draganglumac)
	push = +force group user/Dragan Glumac (draganglumac)
	pushMerge = group user/Dragan Glumac (draganglumac)
[access "refs/tags/*"]
	push = +force group user/Dragan Glumac (draganglumac)
	pushTag = group user/Dragan Glumac (draganglumac)
	pushSignedTag = group user/Dragan Glumac (draganglumac)
